<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Offer</title>
</head>

<body>

    <!-- Header -->

    <header id="header">
        <nav>
            <div class="container">
                <a href="/" class="nav-brand text-dark">Teste</a>
            </div>
        </nav>
    </header>
    <!-- /Header -->

    <!-- Main Site -->
    <main id="site-main">
        <div class="container">
            <div class="box-nave d-flex-justify-between">
                <a href="/add-offer" class="border-shadow">
                    <span class="text-gradient">New Offer</span>
                </a>
            </div>

            <!-- form handling -->
            <form action="/" method="POST">

                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>URL</th>
                            <th>Status</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        
                    </tbody>

                </table>
            </form>


            <!-- /form handling -->
        </div>
    </main>
    <!-- /Main Site -->



</body>

</html>