<!-- include header -->
<%- include("include/_header") %>
    <!-- /include header -->
<div class="row">
<!-- include header -->
<%- include("include/_cards") %>
    <!-- /include header -->
</div>

<!-- include header -->
<%- include("include/_footer") %>
    <!-- /include header -->