<% for(var i=0; i < offers.length; i++){ %>


    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <div class="offer offer-radius offer-danger">
            <% if (offers[i].premium===true){ %>
            <div class="shape">
                <div class="shape-text">
                    Premium
                </div>
            </div>
            <% }%>


            <div class="offer-content">
                <h3 class="lead">
                    <%= offers[i].advertiser_name %>
                </h3>
                <p>
                    <a target="_blank" href=<%=offers[i].url %> class="btn btn-success btn-sm">
                        <span class="text-gradient">Shop Now</span>
                    </a>
                </p>
            </div>
        </div>
    </div>


    <% }%>