<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap CSS -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">    
    <link rel="stylesheet" href="/css/prova.css">    
    <link rel="stylesheet" href="/css/bootstrap-datetimepicker.min.css" referrerpolicy="no-referrer" />    

    <script src="/js/bootstrap.min.js" crossorigin="anonymous"></script>
    <script src="/js/jquery.min.js"></script>    
    <script src="/js/bootstrap-datetimepicker.min.js"  referrerpolicy="no-referrer"></script>
    <!-- <script href="locales/bootstrap-datetimepicker.pt-BR.js"></script>     -->

    <title>Offer</title>
</head>

<body>

    <!-- Header -->

    <header id="header">        
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container">
              <a class="navbar-brand" href="/">Home</a>              
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/offers">Offers</a>
                  </li>
                </ul>
                </div>
            </div>
        </nav>
    </header>
  
    <!-- /Header -->
    <div class="container main">
        